* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: rgba(83, 22, 22, 0.986);
}

.header{
    /* background-color:white; */
    height:5cm;
    /* padding-top: 2cm; */
    padding-left: 7cm;
}

#divbox1{
    padding-left: 1cm;
    float:left;
    /* height: 3cm; */
    /* width: 10%; */
    position: relative;
    /* border-style: solid; */
    /* border-color: #888888; */
}
#divbox2{
    float:left;
    /* height: 3cm; */
    /* width: 12.8cm; */
    position: relative;
    /* border-style: solid; */
    /* border-color: #888888; */
}
#divbox3{
    float:left;
    /* height: 3cm; */
    /* width: 22%; */
    position: relative;
    /* border-style: solid; */
    /* border-color: #888888; */
}

h1{
    font-family: 'Luckiest Guy', cursive;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
    font-size:1.8cm;
    color:orangered;
}

span{
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
}
#aboutparagraph{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#logo1{
    padding-left:0.cm;
    height:1.8cm;
}

#logo2{
    height:1.8cm;
}

hr {
    border-top: 10px solid white;
    border-radius: 5px;
}
